* {

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}

html, body
{
  /* So it aligns at the top of the page without a white gutter. */
  margin:0;
  padding:16px;
  border:0;
  height: 100%;
  background-color:#3a3f4f;
  color:#e0e0e0;
}


ul 
{
  list-style-type: none;
}
body 
{
  font-family: Fira Sans, sans-serif;
  font-size:14px;
}

.calendar-container
{
  display:inline-block;
  position:relative;
  left:0;
  top:0;
  width:60%;
  height:100%;

  min-height:300px;
}

.rightpane
{
  position:absolute;
  left:105%;
  top:-5%;
  width:60%;
  height:110%;
  max-height:110%;
  color:#ffffff;
  font-size:12px;
}

.calendar-drop2
{
  position:absolute;
  left:6%;
  top:8%;
  width:100%;
  height:80%;
  background-color:#b3b3b3;
  border-radius: 16px;
}

.calendar-drop1
{
  position:absolute;
  left:-1%;
  top:-3%;
  width:98%;
  height:107%;
  background-color:#e9e9e9;
  border-radius: 16px;
}

.calendar
{
  position:absolute;
  left:-1%;
  top:-5%;
  width:98%;
  height:110%;
  background: #ffffff;
  padding-bottom:16px;
  border-radius: 16px;
}

.calendarhide
{
  position:fixed;
  left:0%;
  top:0%;
  width:100%;
  height:100%;
  background-color: rgba(58, 63, 79, 0.6);}

/* Month header */
.month 
{
  padding: 16px 16px;
  width: 100%;
  text-align: center;
  font-weight:700;
}

/* Month list */
.month ul
{
  margin: 0;
  padding: 0;
}

.month ul li 
{
  color: #7a909b;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Previous button inside month header */
.month .prev 
{
  float: left;
}
/* Next button */
.month .next 
{
  float: right;
}

/* Weekdays (Mon-Sun) */
.weekdays 
{
  margin: 0;
  padding: 0 0;
}

.weekdays li 
{
  display: inline-block;
  color: #7a909b;
  text-align: center;
  margin-bottom:8px;
}

/* Days (1-31) */
.weekdays, #days {
    padding: 0 0;
    padding-left: 16px;
}

.weekdays li, #days li 
{
  width: 13.6%;
}

#days li 
{
  border: 0.01250in solid #e8e8e8;
}

#days li 
{
  list-style-type: none;
  display: inline-block;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.previousmonth
{
  color: #dfdfdf;
}

.thismonth
{
  cursor:pointer;
  color: #b18bd8;
}

/* Highlight the "current" day */
.active 
{
  background: #b18bd8 !important;
  color: #ffffff !important;
}


.weekdaybig
{
  font-size:24px;
}

.datesubtle
{
  color:#a0a0a0;
  font-size:12px;
}

.numberbutton
{
  display:inline-block;
  border: 1px solid #e8e8e8;
  border-radius:16px;
  width:32px;
  height:32px;
  font-size:24px;
}


.plusbutton
{
  position:fixed;
  bottom:5%;
  right:2%;
/*  float:right; */
  border: 0.01250in solid #e8e8e8;
  border-radius:16px;
  width:32px;
  height:32px;
  font-size:24px;
  cursor:pointer;
}

.plusbutton:hover
{
  border: 0.01250in solid #a8a8a8;
  color:  #a8a8a8;
}




#appointments
{
  height:200px;
  overflow-y: auto;
}

.appointment
{
  text-align:left;
  padding-top:16px;
  padding-bottom:16px;
}

.even
{
  background:#474c5d;
}

.odd
{
}

.memberbullet
{
  float:left;
  border-radius:8px;
  width:16px;
  height:16px;
}

#currentbullet
{
}

.appointmenttext
{
  display:inline-block;
}

.appointmenttitle
{
  display:inline-block;
  font-size:14px;
}

.appointmenttime
{
  color:#a0a0a0;
  font-size:12px;
}

.appointmenthousemembers
{
  float:left;
  color:#a0a0a0;
  font-size:12px;
}

.trashcan
{
  float:right;
  height:32px;
}


.unselectable {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}


a
{
  color:#ffffff;
}

a:hover
{
  color:#e0e0e0;
}

